^StackLayout{
    background-color: white;
    padding: 20,30;
    
}

iframe.titulo {
    background-color: white;
    
}

label {
    color: black;
    font-size: 20;
    font-style: bold;
    
}


#rafiki {
    background-color: red;
    font-size: 30;
    font-style: bold;
    color: white;
}

button {
    font-style: bold;
    background-color: red;
    color: white;
}
